<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admisión UC</title>

    <link rel="stylesheet" href="src/style.css" />
</head>
<body>
	<div class="flex flex-col min-h-screen overflow-hidden" x-data="atTop" x-init="height" @resize.window="height">

    	{{> header }}

	    <main>

		<div class="min-h-96" hx-get="partials/form-all.html" hx-trigger="intersect once"></div>

	    <!-- Modalidades de Admisión -->
	    <section class="bg-white">

	        <div class="max-w-7xl mx-auto space-y-10 py-16 px-5 md:px-6">
		        <h2 class="text-center text-2xl md:text-5xl font-bold">Modalidades de admisión</h2>

				<div x-data="{ selectedTab: 'tab1' }" class="w-full">
					<div x-on:keydown.right.prevent="$focus.wrap().next()" x-on:keydown.left.prevent="$focus.wrap().previous()" class="max-w-3xl mx-auto flex justify-between overflow-x-auto border-b border-black/50" role="tablist" aria-label="tab options">
						<button x-on:click="selectedTab = 'tab1'" x-bind:aria-selected="selectedTab === 'tab1'" x-bind:tabindex="selectedTab === 'tab1' ? '0' : '-1'" x-bind:class="selectedTab === 'tab1' ? 'font-bold text-morado border-b-2 border-morado' : 'text-black font-medium hover:border-b-2 hover:border-b-purpura hover:text-purpura'" class="flex-shrink-0 h-min px-5 py-2" type="button" role="tab" aria-controls="tabpaneltab1" >Estoy en el colegio</button>
						<button x-on:click="selectedTab = 'tab2'" x-bind:aria-selected="selectedTab === 'tab2'" x-bind:tabindex="selectedTab === 'tab2' ? '0' : '-1'" x-bind:class="selectedTab === 'tab2' ? 'font-bold text-morado border-b-2 border-morado' : 'text-black font-medium hover:border-b-2 hover:border-b-purpura hover:text-purpura'" class="flex-shrink-0 h-min px-5 py-2" type="button" role="tab" aria-controls="tabpaneltab2" >Ya terminé el colegio</button>
						<button x-on:click="selectedTab = 'tab3'" x-bind:aria-selected="selectedTab === 'tab3'" x-bind:tabindex="selectedTab === 'tab3' ? '0' : '-1'" x-bind:class="selectedTab === 'tab3' ? 'font-bold text-morado border-b-2 border-morado' : 'text-black font-medium hover:border-b-2 hover:border-b-purpura hover:text-purpura'" class="flex-shrink-0 h-min px-5 py-2" type="button" role="tab" aria-controls="tabpaneltab3" >Quiero trasladarme</button>
						<button x-on:click="selectedTab = 'tab4'" x-bind:aria-selected="selectedTab === 'tab4'" x-bind:tabindex="selectedTab === 'tab4' ? '0' : '-1'" x-bind:class="selectedTab === 'tab4' ? 'font-bold text-morado border-b-2 border-morado' : 'text-black font-medium hover:border-b-2 hover:border-b-purpura hover:text-purpura'" class="flex-shrink-0 h-min px-5 py-2" type="button" role="tab" aria-controls="tabpaneltab4" >Otras modalidades</button>
					</div>
					<div class="px-2 py-4 mt-4 text-black">
						<div x-cloak x-show="selectedTab === 'tab1'" id="tabpaneltab1" role="tabpanel" aria-label="groups">

							<div class="relative w-full flex overflow-x-auto snap-x snap-mandatory gap-4 pb-4" x-ref="container">
								{{> card-modalidad }}
							</div>

						</div>
						<div x-cloak x-show="selectedTab === 'tab2'" id="tabpaneltab2" role="tabpanel" aria-label="groups">

							<div class="relative w-full flex overflow-x-auto snap-x snap-mandatory gap-4 pb-4" x-ref="container">
								{{> card-modalidad }}
								{{> card-modalidad }}
								{{> card-modalidad }}
							</div>

						</div>
						<div x-cloak x-show="selectedTab === 'tab3'" id="tabpaneltab3" role="tabpanel" aria-label="groups">

							<div class="relative w-full flex overflow-x-auto snap-x snap-mandatory gap-4 pb-4" x-ref="container">
								{{> card-modalidad }}
								{{> card-modalidad }}
							</div>

						</div>
						<div x-cloak x-show="selectedTab === 'tab4'" id="tabpaneltab4" role="tabpanel" aria-label="groups">

							<div class="relative w-full flex overflow-x-auto snap-x snap-mandatory gap-4 pb-4" x-ref="container">
								{{> card-modalidad }}
								{{> card-modalidad }}
								{{> card-modalidad }}
								{{> card-modalidad }}
							</div>

						</div>
					</div>
				</div>

			</div>
		</section>

	    <!-- Estadísticas -->
	    <section class="bg-morado">

	        <div class="max-w-7xl mx-auto py-8 lg:py-16 px-5 md:px-6" x-data="slider" x-init="init">

				<div class="relative w-full flex overflow-x-auto snap-x snap-mandatory gap-4 pb-4" x-ref="container">

					<article class="snap-start snap-always shrink-0 group flex w-full md:w-72 flex-col overflow-hidden text-white">
						<div class="flex flex-col gap-2 p-6">
							<p class="text-balance text-2xl md:text-4xl font-semibold">95%</p>
							<p class="text-pretty">De nuestros egresados <span class="bg-lila px-1 pb-px">consigue</span> <span class="bg-lila px-1 pb-px">empleo</span> en su área de estudio en los primeros 6 meses.</p>
						</div>
					</article>
					<article class="snap-start snap-always shrink-0 group flex w-full md:w-72 flex-col overflow-hidden text-white">
						<div class="flex flex-col gap-2 p-6">
							<p class="text-balance text-2xl md:text-4xl font-semibold">+70%</p>
							<p class="text-pretty">De nuestros estudiantes desarrolla su propio <span class="bg-lila px-1 pb-px">emprendimiento</span> antes de egresar.</p>
						</div>
					</article>
					<article class="snap-start snap-always shrink-0 group flex w-full md:w-72 flex-col overflow-hidden text-white">
						<div class="flex flex-col gap-2 p-6">
							<p class="text-balance text-2xl md:text-4xl font-semibold">150</p>
							<p class="text-pretty">Convenios con universidades nacionales e internacionales para <span class="bg-lila px-1 pb-px">intercambios académicos</span>.</p>
						</div>
					</article>
					<article class="snap-start snap-always shrink-0 group flex w-full md:w-72 flex-col overflow-hidden text-white">
						<div class="flex flex-col gap-2 p-6">
							<p class="text-balance text-2xl md:text-4xl font-semibold">80%</p>
							<p class="text-pretty">De estudiantes realiza prácticas pre-profesionales en <span class="bg-lila px-1 pb-px">empresas</span> <span class="bg-lila px-1 pb-px">reconocidas</span>.</p>
						</div>
					</article>

				</div>

	        </div>
	    </section>

		<!-- Campus -->
		<section class="bg-plomo">
			<div class="max-w-7xl mx-auto py-8 lg:py-16 px-5 md:px-6">

				<div class="grid grid-cols-1 md:grid-cols-2 items-center gap-4 h-full">

					<div class="relative w-full overflow-hidden h-full" x-init="autoplay" x-data="carousel({
	intervalTime: 4000,
	slides: [
		{
			imgSrc: './img/campus-arequipa.webp',
			imgAlt: 'campus arequipa',
		},
		{
			imgSrc: './img/campus-hyo.webp',
			imgAlt: 'campus huancayo',
		},
		{
			imgSrc: './img/campus-cus.webp',
			imgAlt: 'campus cusco',
		},
		{
			imgSrc: './img/campus-lima.webp',
			imgAlt: 'campus los olivos',
		},
	],
})"
					>

						<div class="relative aspect-video md:h-full w-full">
							<template x-for="(slide, index) in slides">
								<div x-show="currentSlideIndex == index + 1" class="absolute inset-0" x-transition.opacity.duration.1000ms>
									<img class="absolute w-full h-full inset-0 object-cover" x-bind:src="slide.imgSrc" x-bind:alt="slide.imgAlt" loading="lazy">
								</div>
							</template>
						</div>

						<div class="absolute rounded-sm bottom-3 md:bottom-5 left-1/2 z-20 flex -translate-x-1/2 gap-4 px-1.5 py-1 md:px-2" role="group" aria-label="slides" >
							<template x-for="(slide, index) in slides">
								<button class="size-3 rounded-full transition bg-white" x-on:click="currentSlideIndex = index + 1" x-bind:class="[currentSlideIndex === index + 1 ? 'bg-white' : 'bg-white/50']" x-bind:aria-label="'slide ' + (index + 1)"></button>
							</template>
						</div>

					</div>

					<div class="grid grid-cols-1 md:grid-cols-2 gap-4">

						<div class="row-span-1 bg-white p-4">
							<h3 class="mb-2 text-xl font-bold">Convalidaciones</h3>
							<p class="text-base leading-tight">Reconocemos tus estudios previos para reducir tu carga o duración de la carrera.</p>
							<a href="#" class="mt-6 flex items-center gap-2 text-base font-bold text-morado group">
								<p>Más información</p>
							    <span class="mt-1.5 transition group-hover:translate-x-1">
								    <svg class="w-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 18L15 12L9 6" stroke="#6400BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
								</span>
							</a>
						</div>
						<div class="row-span-1 bg-white p-4">
							<h3 class="mb-2 text-xl font-bold">Simulacro de admisión</h3>
							<p class="text-base leading-tight">Prepárate para el ingreso con nuestro simulacro de admisión y mide tu desempeño.</p>
							<a href="#" class="mt-6 flex items-center gap-2 text-base font-bold text-morado group">
								<p>Más información</p>
							    <span class="mt-1.5 transition group-hover:translate-x-1">
								    <svg class="w-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 18L15 12L9 6" stroke="#6400BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
								</span>
							</a>
						</div>
						<div class="row-span-1 bg-white p-4">
							<h3 class="mb-2 text-xl font-bold">Visita guiada</h3>
							<p class="text-base leading-tight">Visita nuestro campus y descubre los espacios diseñados para tu aprendizaje.</p>
							<a href="#" class="mt-6 flex items-center gap-2 text-base font-bold text-morado group">
								<p>Agendar visita</p>
							    <span class="mt-1.5 transition group-hover:translate-x-1">
								    <svg class="w-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 18L15 12L9 6" stroke="#6400BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
								</span>
							</a>
						</div>
						<div class="row-span-1 bg-white p-4">
							<h3 class="mb-2 text-xl font-bold">Test vocacional</h3>
							<p class="text-base leading-tight">Realiza el test y descubre las carreras alineadas a tus intereses y habilidades.</p>
							<a href="#" class="mt-6 flex items-center gap-2 text-base font-bold text-morado group">
								<p>Más información</p>
							    <span class="mt-1.5 transition group-hover:translate-x-1">
								    <svg class="w-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 18L15 12L9 6" stroke="#6400BE" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
								</span>
							</a>
						</div>

					</div>
				</div>

			</div>

		</section>

	    <!-- Carreras -->
		<section class="bg-white">
			<div class="max-w-7xl mx-auto py-8 lg:py-16 px-5 md:px-6">
				<h2 class="text-center text-2xl md:text-5xl font-bold md:whitespace-pre-line">Explora nuestras carreras
de pregrado y elige tu futuro</h2>

				<div class="w-full mt-8" x-data="search_carrera">

					<div class="flex flex-col md:flex-row gap-3 justify-between">
						<div class="relative flex w-full max-w-lg">
							<svg fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="absolute left-2.5 top-1/2 size-5 -translate-y-1/2 text-morado"> <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" /></svg>
							<input type="search" class="w-full rounded-radius border-b border-0 bg-white pl-10 pr-2 py-1 focus:ring-transparent focus:border-morado" name="s_carrera" placeholder="Buscar carrera por nombre" aria-label="search_carrera" x-model="search"/>
						</div>
						<div class="flex flex-row gap-3">
							<div class="relative flex w-full max-w-xs flex-col gap-1">
								<label for="s_campus" class="sr-only">Campus</label>
							    <select id="s_campus" name="s_campus" class="w-full appearance-none border-0 border-b px-4 py-2 mr-4 text-sm sm:text-base focus:ring-transparent focus:border-morado" x-model="search">
							        <option value="" selected>Campus</option>
							        <option value="Arequipa">Arequipa</option>
							        <option value="Cusco">Cusco</option>
							        <option value="Huancayo">Huancayo</option>
							        <option value="Lima">Lima</option>
							    </select>
							</div>
							<div class="relative flex w-full max-w-xs flex-col gap-1">
								<label for="s_modalidad" class="sr-only">Modalidad</label>
							    <select id="s_modalidad" name="s_modalidad" class="w-full appearance-none border-0 border-b px-4 py-2 mr-4 text-sm sm:text-base focus:ring-transparent focus:border-morado" x-model="search">
							        <option value="" selected>Modalidad</option>
							        <option value="Presencial">Presencial</option>
							        <option value="Semipresencial">Semipresencial</option>
							        <option value="A Distancia">A Distancia</option>
							        <option value="Lima">Lima</option>
							    </select>
							</div>
							<div class="relative flex w-full max-w-xs flex-col gap-1">
								<label for="s_facultad" class="sr-only">Facultad</label>
							    <select id="s_facultad" name="s_facultad" class="w-full appearance-none border-0 border-b px-4 py-2 mr-4 text-sm sm:text-base focus:ring-transparent focus:border-morado" x-model="search">
							        <option value="" selected>Facultad</option>
							        <option value="Ciencias de la Empresa">Ciencias de la Empresa</option>
							        <option value="Ciencias de la Salud">Ciencias de la Salud</option>
							        <option value="Derecho">Derecho</option>
							        <option value="Humanidades">Humanidades</option>
							        <option value="Ingeniería">Ingeniería</option>
							    </select>
							</div>
						</div>
					</div>

					<div class="mt-8" x-data="slider" x-init="init">

						<div class="relative w-full h-full flex overflow-x-auto snap-x snap-mandatory gap-6" x-ref="container">
							{{> card-carrera }}
							{{> card-carrera }}
							{{> card-carrera }}
							{{> card-carrera }}
							{{> card-carrera }}
						</div>

						<div class="flex justify-center md:justify-end gap-2 px-4 mt-6">
							<button type="button" class="flex items-center justify-center transition" aria-label="previous slide" @click="scrollTo(prev)" :class="[prev != null ? 'cursor-pointer' : 'opacity-50']">
								<div class="flex items-center size-12 text-morado">
									<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none"><path fill="currentColor" d="M20.026 40 .033 20.004l1.426-1.426 1.704-1.715 3.14-3.14 1.427-1.416L18.6 1.426 20.026 0l1.43 1.426 6.27 6.27-1.43 1.43-5.426 5.426h21.097v2.018h-25.97l1.425-1.426.593-.592 6.855-6.856-4.844-4.84L9.148 13.722l-3.14 3.141-1.415 1.43-1.715 1.7 17.148 17.151 4.848-4.84-6.86-6.863-.592-.59-1.426-1.418h25.97v2.008H20.86l5.726 5.73 1.14 1.129-7.7 7.7Z"/><path fill="currentColor" d="m20.307 34.015-9.451-9.448-1.426-1.43-1.704-1.7-1.426-1.43 1.415-1.426 1.715-1.714 1.426-1.426 9.451-9.452 1.426 1.43L10.152 19h31.815v2.007H10.145l.71.704L21.734 32.59l-1.426 1.426Z"/></svg>
								</div>
							</button>
							<button type="button" class="flex items-center justify-center transition" aria-label="previous slide" @click="scrollTo(next)" :class="[next != null ? 'cursor-pointer' : 'opacity-50']">
								<div class="flex items-center size-12 text-morado rotate-180">
									<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none"><path fill="currentColor" d="M20.026 40 .033 20.004l1.426-1.426 1.704-1.715 3.14-3.14 1.427-1.416L18.6 1.426 20.026 0l1.43 1.426 6.27 6.27-1.43 1.43-5.426 5.426h21.097v2.018h-25.97l1.425-1.426.593-.592 6.855-6.856-4.844-4.84L9.148 13.722l-3.14 3.141-1.415 1.43-1.715 1.7 17.148 17.151 4.848-4.84-6.86-6.863-.592-.59-1.426-1.418h25.97v2.008H20.86l5.726 5.73 1.14 1.129-7.7 7.7Z"/><path fill="currentColor" d="m20.307 34.015-9.451-9.448-1.426-1.43-1.704-1.7-1.426-1.43 1.415-1.426 1.715-1.714 1.426-1.426 9.451-9.452 1.426 1.43L10.152 19h31.815v2.007H10.145l.71.704L21.734 32.59l-1.426 1.426Z"/></svg>
								</div>
							</button>
						</div>

					</div>

				</div>
			</div>
		</section>

		<!-- Testimonio -->
		<section class="bg-purpura sm:bg-white relative">
   			<div class="max-w-7xl mx-auto py-8 px-5 md:px-6">
      			<div class="bg-purpura grid grid-cols-1 md:grid-cols-2 gap-4">
	            	<div class="">
						<img src="./img/testimonio.webp" loading="lazy" alt="" class="h-full w-full object-cover">
					</div>
					<div class="md:p-6 space-y-3 lg:space-y-4">
						<div class="w-20 md:w-28">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-full h-full" width="77" height="59" fill="none"><path fill="#8750FF" class="scale-75 md:scale-100" d="m91.406.032 2.142 3.327c0 .412-5.05 3.475-5.819 4.053-9.686 7.279-20.731 18.247-20.668 31.2.01 2.27.882 5.714 2.485 7.41.984 1.042 4.03 2.843 5.462 2.642 1.433-.2 9.775-9.886 12.069-10.862 6.93 2.506 12.898 8.37 14.44 15.765 5.67 27.136-40.236 35.257-46.969 5.675-2.368-10.401.099-21.127 5.18-30.28l.653.31c.106-.144-.296-.666-.151-1.068.398-1.124 4.862-6.788 5.974-8.1 2.142-2.534 5.095-5.371 7.587-7.577C75.576 10.937 90.404-.67 91.406.032ZM37.794.01c.088 1.153 2.321 2.789 1.616 3.881-2.541 1.622-5.078 3.405-7.421 5.29-9.03 7.272-21.007 19.791-18.156 32.568.713 3.194 4.778 7.8 8.286 6.567l11.105-10.43c.811-.345 4.838 2.111 5.745 2.725 15.544 10.549 10.642 33.114-7.5 36.78-9.463 1.913-20.138-.614-26.07-8.537C1.616 63.81-.33 55.414.046 48.83 1.242 27.964 17.898 12.995 34 2.013L37.794.01Z"/></svg>
						</div>
						<p class="text-white lg:text-xl">“La elección de estudiar medicina humana fue acertada, ya que no solo cuenta con buena infraestructura y materiales, sino también con un grupo humano comprometido que destaca por su calidez y profesionalismo.”</p>
						<div class="max-w-max">
							<div class="bg-[#BEE1FF] px-4 py-2">
								<p class="text-purpura text-lg font-normal lg:text-center">Andy Aquino - Estudiante de Medicina Humana</p>
							</div>
							<div class="w-full">
								<div class="mt-1.5 bg-[#BEE1FF] pb-1.5"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Noticias y Eventos -->
		<section class="bg-white">
			<div class="max-w-7xl mx-auto py-8 lg:py-16 px-5 md:px-6">
				<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
					<div class="space-y-8">
						<h2 class="text-2xl md:text-5xl font-bold">Noticias y Eventos</h2>
						<p class="md:text-lg"> Descubre fechas importantes, novedades académicas y actividades que te acercan a la experiencia Continental. ¡No te pierdas ninguna oportunidad para dar el siguiente paso hacia tu futuro profesional!</p>
						<div class="space-x-4">
							<a href="#" class="inline-flex rounded-full bg-morado px-6 pb-3 pt-2 text-lg font-bold text-white border border-morado transition-colors duration-300 hover:bg-purpura hover:border-purpura">Ver noticias</a>
							<a href="#" class="rounded-full px-6 pb-3 pt-2 text-lg font-bold text-morado border-2 border-morado transition-colors duration-300 hover:border-purpura hover:text-purpura">Ver eventos</a>
						</div>
					</div>

					<!-- Eventos -->
					<div class="relative" x-data="carousel({
slides: [
{
	imgSrc: './img/campus-hyo.webp',
	imgAlt: 'campus huancayo',
	type: 'Noticia',
	title: 'Facultad de Derecho UC impulsa el aprendizaje activo con simulación de audiencias.',
	date: '3 de julio del 2024',
},
{
	imgSrc: './img/campus-arequipa.webp',
	imgAlt: 'campus arequipa',
	type: 'Evento',
	title: 'Inscríbete y participa de nuestro Festival de Carreras en Ayacucho.',
	date: '1 de diciembre del 2024',
},
{
	imgSrc: './img/campus-cus.webp',
	imgAlt: 'campus cusco',
	type: 'Noticia',
	title: 'Estudiantes de Ingeniería Civil implementan tecnología para mejorar la seguridad en obras.',
	date: '1 de diciembre del 2024',
},
],
					})">
						<div class="w-full flex overflow-x-auto no-scrollbar">

							<template x-for="(slide, index) in slides">
								<div class="w-full shrink-0 grid grid-cols-3 md:grid-cols-2" x-show="currentSlideIndex == index + 1"
								x-transition:enter="transition ease-in-out duration-500 transform"
								x-transition:enter-start="translate-x-full opacity-0"
								x-transition:enter-end="translate-x-0 opacity-100"
								x-transition:leave="transition ease-in-out"
								x-transition:leave-end="opacity-0"
								>
									<div class="relative">
										<img class="w-full h-full inset-0 object-cover" x-bind:src="slide.imgSrc" x-bind:alt="slide.imgAlt" />
									</div>
									<div class="col-span-2 md:col-span-1 flex flex-col bg-plomo p-2 md:p-4 space-y-2 md:space-y-4">
										<div class="w-fit bg-lila px-2 pb-1 text-white" x-text="slide.type"></div>
										<a href="#" class="md:text-xl font-bold hover:text-morado hover:underline" x-text="slide.title"></a>
										<span class="text-black/60" x-text="slide.date"></span>
									</div>
								</div>
							</template>

						</div>
						<div class="flex justify-center gap-4 pt-4" role="group" aria-label="slides" >
							<template x-for="(slide, index) in slides">
								<button class="size-3 rounded-full transition bg-morado" x-on:click="currentSlideIndex = index + 1" x-bind:class="[currentSlideIndex === index + 1 ? 'bg-morado' : 'bg-morado/50']" x-bind:aria-label="'slide ' + (index + 1)"></button>
							</template>
						</div>
					</div>

				</div>
			</div>
		</section>

		</main>

		<footer class="bg-plomo min-h-96" hx-get="partials/footer.html" hx-trigger="intersect once"></footer>

	</div>
    <script src="/src/main.js" type="module"></script>

</body>
</html>
